@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --orange:#fabd02;
    --text-color-1:#444;
    --text-color-2:#666;
    --text-color-3:#fff;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{  
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition:all .2s linear;

}

body{
    background:var(--bg-color-2);
}

.header{
    height: 80px;
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-weight: bolder;
    font-size: 1.5rem;
    color:var(--text-color-1);
}

.header .icons div:hover{
    color:#fff;
    background:var(--orange);
}

 table{  
      width: 75%;  
      position: absolute;  
      top: 50%;  
      left: 50%;  
      transform: translate(-50%,-50%);  
 }  
 .heading{  
      background-color: #FFFF;  
 }  
 .heading th{  
      padding: 10px 0;  
 }  
 .data{  
      text-align: center;  
      color: black;  
 }  
 .data td{  
      padding: 15px 0;  
      background-color: #FFFF;
 }  
 #btn{  
      text-decoration: none;  
      color: #FFF;  
      background-color: #e74c3c;  
      padding: 5px 20px;  
      border-radius: 3px;  
 }

 #btn:hover{  
      background-color: #c0392b;  
 }  

 .btnone {
    
    display: inline-block;
    padding:.5rem 3rem;
    font-size: 1.2rem;
    color:black;
    background:var(--orange);
    border-radius: .5rem;
    cursor: pointer;
}

.btnone:hover{
    letter-spacing: .2rem;
}
